 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portail pédagogique Mozambique - @ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/cssSectoriel")
    @Styles.Render("~/Content/cssPublic")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("preparationDatePicker", required: false)
    @*RenderSection("scripts", required: false)*@
</head>
<body>
    <div id="all">
        <header>
            <div class="connexion">
               @Html.Partial("_LoginPartial")
               @Html.Partial("_SectorPartial")
            </div>
            <div class="titre-header">
                @Html.Partial("_LogoPartial")
            </div>
            <nav>
                @Html.Partial("_MenuPartial")
            </nav>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer></footer>
</body>
</html>
