@if (Request.IsAuthenticated)
{
    <div class="user_name">
        <p>@Resources.Shared.loginUser : @User.Identity.Name</p>
        <div class="icons">
            @Html.ActionLink(" ", "Messagerie", new { controller = "Sectoriel" }, new { @class = "msg-img", title=@Resources.Shared.messagerie })
            @Html.ActionLink(" ", "Profil", "Sectoriel", routeValues: null, htmlAttributes: new { @class = "profil-img", title=@Resources.Shared.profil })
            @Html.ActionLink(" ", "Aide", "Sectoriel", routeValues: null, htmlAttributes: new { @class = "aide-img", title=@Resources.Shared.help })
        </div>
        <div class="change">
            @Html.ActionLink(@Resources.Shared.langue, "ChangeCulture", "Public", new { lang = @Resources.Shared.ci, returnUrl = this.Request.RawUrl }, null)
            @Html.ActionLink(@Resources.Shared.logout, "LogOut", "Sectoriel", null, new { @class = "log" })
        </div>
    </div>
} else {
    <div class="change">
        @Html.ActionLink(@Resources.Shared.login, "Login", "Sectoriel", null, null)
        @Html.ActionLink(@Resources.Shared.langue, "ChangeCulture", "Public", new { lang = @Resources.Shared.ci, returnUrl = this.Request.RawUrl }, new { @class = "log" })
    </div>
}