@if (!Request.IsAuthenticated)
{
    <ul>
        <li>@Html.ActionLink(@Resources.Shared.accueil, "Index", "Public")</li>
        <li>@Html.ActionLink(@Resources.Shared.nouvelles, "Nouvelles", "Public")</li>
        <li>@Html.ActionLink(@Resources.Shared.partenaires, "partenaires", "Public")</li>
        <li>@Html.ActionLink(@Resources.Shared.apropos, "APropos", "Public")</li>
        <li>@Html.ActionLink(@Resources.Shared.nousjoindre, "NousJoindre", "Public")</li>
    </ul>
} else {
    <ul>
        <li>@Html.ActionLink(@Resources.Shared.accueil, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.Shared.calendrier, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.Shared.documents, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.Shared.forums, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.Shared.sondages, "Index", "Sectoriel")</li>
        @if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink(@Resources.Shared.admin, "Index", "Admin")</li>
        }
    </ul>
}
