@if (!Request.IsAuthenticated)
{
    <ul>
        <li>@Html.ActionLink(@Resources.StringResources.accueil, "Index", "Public")</li>
        <li>@Html.ActionLink(@Resources.StringResources.nouvelles, "Nouvelles", "Public")</li>
        <li>@Html.ActionLink(@Resources.StringResources.partenaires, "partenaires", "Public")</li>
        <li>@Html.ActionLink(@Resources.StringResources.apropos, "APropos", "Public")</li>
        <li>@Html.ActionLink(@Resources.StringResources.nousjoindre, "NousJoindre", "Public")</li>
    </ul>
} else {
    <ul>
        <li>@Html.ActionLink(@Resources.StringResources.accueil, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.StringResources.calendrier, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.StringResources.documents, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.StringResources.forums, "Index", "Sectoriel")</li>
        <li>@Html.ActionLink(@Resources.StringResources.sondages, "Index", "Sectoriel")</li>
        @if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink(@Resources.StringResources.admin, "SectionPublique", "Admin")</li>
        }
    </ul>
}
