@using projet_mozambique.Models
@if (Request.IsAuthenticated)
{

    var lst = Session["lstSect"] as List<SECTEUR>;

    int current = (int)Session["currentSecteur"];
    
    if (lst != null && current != null && current != 0)
    {
        <form method="post" action="/Sectoriel/ChangeSecteur">
            @Html.Label(Resources.Shared.secteur)
            <select id="selectSector" name="secteur" onchange="this.form.submit()">
                @foreach (var s in lst)
                {
                    if (Session["Culture"].ToString().Equals("fr"))
                    {
                        <option value="@s.ID" @(current == s.ID ? "selected=\"selected\"" : "")>@s.NOM</option>
                    }
                    else
                    {
                        
                        <option value="@s.ID" @(current == s.ID ? "selected=\"selected\"" : "")>@s.NOMTRAD</option>
                    }
                }
            </select>
            <input name="returnUrl" type="hidden" value="@this.Request.RawUrl" />
        </form>
    }
}