<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@projet_mozambique.Utilitaires.Constantes.TITLE_COMMUN @ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @Styles.Render("~/Content/cssSectoriel")
    @Styles.Render("~/Content/cssPublic")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="all">
        <header>
            <div class="connexion">
                <div class="user_name">
                    <p>Nom de l'utilisateur</p>
                    <div class="icons">
                        <img src="~/Content/images/mail.png" title="Messagerie" />
                        @Html.ActionLink(" ", "Profil", new { controller = "Sectoriel" }, new { @class = "profil-img" })
                    </div>
                 </div>
                @Html.ActionLink("Se déconnecter", "Index", "public", new { logout = 1 }, new { @class = "logout" })
            </div>
            <div class="titre-header">
                @Html.ActionLink("Mozambique", "Index", new { controller = "Admin" }, new {@class="main-titre"})<br />
                @Html.ActionLink("Portail Pédagogique", "Index", new { controller = "Admin" }, new { @class = "sous-titre" })
                <p class="langue">Français</p>
            </div>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Accueil", "Index")</li>
                    <li>@Html.ActionLink("Documents", "Documents", "Admin")</li>
                    <li>@Html.ActionLink("Forum", "ForumModerateur", "Admin")</li>
                    <li>@Html.ActionLink("Sondages", "Sondages", "Admin")</li>
                    <li><a class="menu-admin">Administration</a></li>
                </ul>
                <ul class="nav-secondaire">
                    <li>@Html.ActionLink("Utilisateurs", "utilisateurs")</li>
                    <li>@Html.ActionLink("Rôles", "roles")</li>
                    <li>@Html.ActionLink("Secteurs", "secteurs")</li>
                    <li>@Html.ActionLink("Écoles", "ecoles")</li>
                    <li>@Html.ActionLink("Section publique", "publique")</li>
                </ul>
            </nav>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function (){
            $(".menu-admin").click(function (e) {
                e.preventDefault();
                $(".nav-secondaire").toggle();
            });
            $(".langue").click(function () {
                var langue = $(".langue").html();

                if (langue == "Français") {
                    $(".langue").html("Portuguais");
                }
                else {
                    $(".langue").html("Français");
                }

            });
        });

    </script>
</body>
</html>
