@model projet_mozambique.Models.AjoutUtilModel
@{
    ViewBag.Title = Resources.Admin.ajoutUtilisateur;
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("AjoutUtilisateur", "Admin", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ul>
        <li>
            @Html.LabelFor(m => m.nomUtil) 
            @Html.TextBoxFor(m => m.nomUtil)
            @Html.ValidationMessageFor(m => m.nomUtil)
        </li>
        <li>
            @Html.LabelFor(m => m.courriel) 
            @Html.TextBoxFor(m => m.courriel)
            @Html.ValidationMessageFor(m => m.courriel)
        </li>
        <li>
            @Html.LabelFor(m => m.courrielConfirm) 
            @Html.TextBoxFor(m => m.courrielConfirm)
            @Html.ValidationMessageFor(m => m.courrielConfirm)
        </li>
        <li>
            @Html.LabelFor(m => m.prenom) 
            @Html.TextBoxFor(m => m.prenom)
            @Html.ValidationMessageFor(m => m.prenom)
        </li>
        <li>
            @Html.LabelFor(m => m.nom) 
            @Html.TextBoxFor(m => m.nom)
            @Html.ValidationMessageFor(m => m.nom)
        </li>
        <li>
            @Html.LabelFor(m => m.adresse) 
            @Html.TextBoxFor(m => m.adresse)
            @Html.ValidationMessageFor(m => m.adresse)
        </li>
        <li>
            @Html.LabelFor(m => m.ville)
            @Html.TextBoxFor(m => m.ville)
            @Html.ValidationMessageFor(m => m.ville)
        </li>
        <li>
            @Html.LabelFor(m => m.dateNaissance)
            @Html.EditorFor(m => m.dateNaissance)
            @Html.ValidationMessageFor(m => m.dateNaissance)
        </li>
        <li>
            @Html.LabelFor(m => m.idEcole)
            @Html.DropDownListFor(m => m.idEcole, new SelectList(Model.Ecoles, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.idEcole)
        </li>
        <li>
            @Html.LabelFor(m => m.password)
            @Html.PasswordFor(m => m.password)
            @Html.ValidationMessageFor(m => m.password)
        </li>
        <li style="height:50px;">
            @Html.LabelFor(m => m.confirmPassword)
            @Html.PasswordFor(m => m.confirmPassword)
            @Html.ValidationMessageFor(m => m.confirmPassword)
        </li>
        <li>
            @Html.LabelFor(m => m.roleName)
            @Html.DropDownListFor(m => m.roleName, new SelectList(Model.Roles, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.roleName)
        </li>
    </ul>
    <div style="width:40%">
        <input type="submit" value="@Resources.Admin.create" class="btnForm" name="creerUtil" style="float:right;" />
    </div>
    
}