@model projet_mozambique.Models.NouvelleModel

@{
    ViewBag.Title = Resources.Admin.ajouterNouvelle;
}

<h1>@Resources.Admin.ajouterNouvelle</h1>

@using (Html.BeginForm("AjouterNouvelle", "Admin", FormMethod.Post, new { @class = "form-nouvelle" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.titre)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.titre, new { @maxlength = "100", })
        @Html.ValidationMessageFor(model => model.titre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.description)
        @Html.ValidationMessageFor(model => model.description)
    </div>

    <p>
        <input type="submit" value="@Resources.Shared.ajouter" class="btnForm" />
    </p>

}


