@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;
@{
    ViewBag.Title = Resources.Admin.modifierSupprimerNouvelle;

    <h1>@Resources.Admin.modifierSupprimerNouvelle</h1>
            
    List<NOUVELLE> lstN = (ViewData[Constantes.CLE_NOUVELLES] as List<NOUVELLE>);
    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
            
    <form action="ActionNouvelle" method="post">
        <select name="id" class="lst-options-nouvelles">
                @for (int i = 0; i < lstN.Count; i++)
            {
                <option value="@lstN[i].ID">@lstN[i].TITRE (@lstN[i].DATEPUBLICATION.ToString("yyyy/MM/dd"))</option>
            }
        </select>

        <input type="submit" value="@Resources.Shared.modifier" name="modifier" id="btnModif" class="btnForm" /> 
        <input type="submit" name="supprimer" value="@Resources.Shared.supprimer" id="btnSupp" class="btnForm" />
    </form>
            
}



