@{
    ViewBag.Title = @Resources.Shared.admin;
}

<h1>@ViewBag.Title</h1>

<ul>
    <li>@Html.ActionLink(@Resources.Admin.menuUtil, "GestionUtilisateurs", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.menuSecteurs, "GestionSecteurs", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.menuPublications, "GestionPublications", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.menuPublique, "SectionPublique", "Admin")</li>
</ul>


