@{
    ViewBag.Title = "Administration";
}

<h1>Bienvenue dans l'administration du site</h1>

<ul>
    <li>@Html.ActionLink(@Resources.Admin.menuCalendrier, "Calendrier", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.menuUtil, "Utilisateurs", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.menuSecteurs, "Ecoles", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.menuEcoles, "Ecoles", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.menuPublique, "SectionPublique", "Admin")</li>
</ul>


