@using projet_mozambique.Utilitaires;
@model projet_mozambique.Models.NouvelleModel

@{
    ViewBag.Title = Resources.Admin.modifierNouvelle;
}

<h1>@Resources.Admin.modifierNouvelle</h1>

@using (Html.BeginForm("ModifierNouvelle", "Admin", FormMethod.Post, new { @class = "form-nouvelle" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.id)

    <div class="editor-label">
        @Html.LabelFor(model => model.titre)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.titre, new { @maxlength = "100", @placeholder = @Resources.Sectoriel.titrePlaceholder })
        @Html.ValidationMessageFor(model => model.titre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.description, new { @placeholder = @Resources.Sectoriel.descriptionPlaceholder })
        @Html.ValidationMessageFor(model => model.description)
    </div>

    <p>
        <input type="submit" value="@Resources.Shared.modifier" class="btnForm" />
    </p>
}
