@model projet_mozambique.Models.PublicContentModel

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ModifPagePublique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ul>
            @Html.HiddenFor(m => m.nomPage)
          <li>
            @Html.LabelFor(m => m.titre) 
            @if (Model.nomPage.ToLower().Equals("accueil"))
            {
                @Html.TextBoxFor(m => m.titre)
            }
            else
            {
                @Html.TextBoxFor(m => m.titre, new { @readonly = "readonly" })
                @Resources.Messages.nonEditable
            }
            @Html.ValidationMessageFor(m => m.titre)
        </li>
        <li>
            @Html.LabelFor(m => m.titreTrad) 
            @if (Model.nomPage.ToLower().Equals("accueil"))
            {
                @Html.TextBoxFor(m => m.titreTrad)
            }
            else
            {
                @Html.TextBoxFor(m => m.titreTrad, new { @readonly = "readonly" })
                @Resources.Messages.nonEditable
            }
            @Html.ValidationMessageFor(m => m.titreTrad)
        </li>  
        <li>
            @Html.LabelFor(m => m.contenu) 
            @Html.TextAreaFor(m => m.contenu)
            @Html.ValidationMessageFor(m => m.contenu)
        </li>
        <li>
            @Html.LabelFor(m => m.contenuTrad) 
            @Html.TextAreaFor(m => m.contenuTrad)
            @Html.ValidationMessageFor(m => m.contenuTrad)
        </li>
        @if(!Model.nomPage.ToLower().Equals("contact"))
        {
            if (Model.fileName != null)
            {
                <li>
                    @Html.Label(Resources.Admin.CurrentImage)
                    @Html.TextBoxFor(m => m.fileName, new { @readonly = "readonly", @style="width:300px" })
                </li>
            }
            
            <li>
                @Html.LabelFor(m => m.File)
                <input type="file" name="file"/>
                @Html.ValidationMessageFor(m => m.File)
                <input type="submit" value="@Resources.Shared.modifierImage" name="modifierImage" class="btnForm" />
            </li>
        }
    </ul>
    <input type="submit" value="@Resources.Shared.modifier" name="modifierPage" class="btnForm" />
    
}
  
