@model projet_mozambique.Models.ModifUtilisateurModel
@{
    ViewBag.Title = Resources.Admin.gestionUtilisateur;
}

<h1>@ViewBag.Title - @Model.nomUtil</h1>
@using (Html.BeginForm("ModifUtilisateur", "Admin", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ul>
        @Html.HiddenFor(m => m.idUtil)
       <li>
            @Html.LabelFor(m => m.nomUtil) 
            @Html.TextBoxFor(m => m.nomUtil)
            @Html.ValidationMessageFor(m => m.nomUtil)
        </li>
        <li>
            @Html.LabelFor(m => m.courriel) 
            @Html.TextBoxFor(m => m.courriel)
            @Html.ValidationMessageFor(m => m.courriel)
        </li>
        <li>
            @Html.LabelFor(m => m.courrielConfirm) 
            @Html.TextBoxFor(m => m.courrielConfirm)
            @Html.ValidationMessageFor(m => m.courrielConfirm)
        </li>
        <li>
            @Html.LabelFor(m => m.prenom) 
            @Html.TextBoxFor(m => m.prenom)
            @Html.ValidationMessageFor(m => m.prenom)
        </li>
        <li>
            @Html.LabelFor(m => m.nom) 
            @Html.TextBoxFor(m => m.nom)
            @Html.ValidationMessageFor(m => m.nom)
        </li>
        <li>
            @Html.LabelFor(m => m.adresse) 
            @Html.TextBoxFor(m => m.adresse)
            @Html.ValidationMessageFor(m => m.adresse)
        </li>
        <li>
            @Html.LabelFor(m => m.ville)
            @Html.TextBoxFor(m => m.ville)
            @Html.ValidationMessageFor(m => m.ville)
        </li>
        <li>
            @Html.LabelFor(m => m.dateNaissance)
            @Html.EditorFor(m => m.dateNaissance)
            @Html.ValidationMessageFor(m => m.dateNaissance)
        </li>
        <li style="height:30px;">
            @Html.LabelFor(m => m.active)
            @Html.RadioButtonFor(m => m.active, true)@Resources.Shared.choixActive
            @Html.RadioButtonFor(m => m.active, false)@Resources.Shared.choixDesactive
            @Html.ValidationMessageFor(m => m.active)
        </li>
        <li>
            @Html.LabelFor(m => m.idEcole)
            @Html.DropDownListFor(m => m.idEcole, new SelectList(Model.Ecoles, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.idEcole)
        </li>
        <li>
            @Html.LabelFor(m => m.roleName)
            @Html.DropDownListFor(m => m.roleName, new SelectList(Model.Roles, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.roleName)
        </li>
        <li>
            @Html.LabelFor(m => m.langue)
            @Html.RadioButtonFor(m => m.langue, "fr")@Resources.Shared.choixLangueFR
            @Html.RadioButtonFor(m => m.langue, "pt")@Resources.Shared.choixLanguePT
            @Html.ValidationMessageFor(m => m.langue)
        </li>
    </ul>
    <input type="submit" value="@Resources.Shared.modifier" name="modifUtil" class="btnForm" />
}