@using projet_mozambique.Utilitaires
@{
    ViewBag.Title = @Resources.Admin.menuPublique;
    var msg = (ViewData[Constantes.CLE_MSG_RETOUR] as Message);

    <h1>@ViewBag.Title</h1>
    
    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
    
    <ul>
        <li>@Resources.Shared.nouvelles
            <ul>
                <li><a href="AjouterNouvelle">@Resources.Admin.ajouterNouvelle</a></li>
                <li><a href="GestionNouvelles?gestion=2">@Resources.Admin.modifierSupprimerNouvelle</a></li>
            </ul>
        </li>
        <li>@Resources.Shared.partenaires
            <ul>
                <li><a href="AjoutPartenaire">@Resources.Partenaire.ajouterPartenaire</a></li>
                <li><a href="GestionPartenaires">@Resources.Partenaire.modifierSupprimerPartenaire</a></li>
            </ul>
        </li>
        <li>@Resources.Shared.sujetsPublication
            <ul>
                <li><a href="AjoutSujet">@Resources.Sujets.ajouterSujet</a></li>
                <li><a href="GestionSujets">@Resources.Sujets.modifierSupprimerSujet</a></li>
            </ul>
        </li>
        <li>@Html.ActionLink(@Resources.Shared.accueil, "ModifPagePublique", "Admin", new { nomPage = "accueil" }, null)</li>
        <li>@Html.ActionLink(@Resources.Shared.apropos, "ModifPagePublique", "Admin", new { nomPage = "about" }, null)</li>
        <li>@Html.ActionLink(@Resources.Shared.nousjoindre, "ModifPagePublique", "Admin", new { nomPage = "contact" }, null)</li>
    </ul>
    
}

@*
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-secondaire").toggle();
    });
</script>
*@
