@using projet_mozambique.Utilitaires
@{
    ViewBag.Title = Resources.Admin.sectionPublique;
    var msg = (ViewData[Constantes.CLE_MSG_RETOUR] as Message);

    <h1>@Resources.Admin.gestionSectionPublique</h1>
    
    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
    
    <ul>
        <li>Nouvelles
            <ul>
                <li><a href="AjouterNouvelle">@Resources.Admin.ajouterNouvelle</a></li>
                <li><a href="GestionNouvelles">@Resources.Admin.modifierSupprimerNouvelle</a></li>
            </ul>
        </li>
        <li>Partenaires
            <ul>
                <li><a href="gestionPartenaires?gestion=1">Ajouter un partenaire</a></li>
                <li><a href="gestionPartenaires?gestion=2">Modifier/Supprimer un partenaire</a></li>
            </ul>
        </li>
        <li>@Html.ActionLink("Page d'accueil", "ModifPagePublique", "Admin", new { nomPage = "accueil" }, null)</li>
        <li>@Html.ActionLink("Qui sommes-nous?", "ModifPagePublique", "Admin", new { nomPage = "about" }, null)</li>
        <li>@Html.ActionLink("Nous Joindre", "ModifPagePublique", "Admin", new { nomPage = "contact" }, null)</li>
    </ul>
    
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav-secondaire").toggle();
    });
</script>
