@model projet_mozambique.Models.SUJETPUBLICATION

@{
    ViewBag.Title = Resources.Sujets.suppressionSujet;
    
    <h1>@Resources.Sujets.suppressionSujet</h1>
    
    using (Html.BeginForm("SupprimerSujet", "Admin", FormMethod.Post, new { @class = "formulaire" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID)

        <div>@String.Format(Resources.Shared.confirmerSuppression, Model.NOM)</div>
        <div>@Resources.Sujets.avertissementSuppr</div>
    
        <div>
            <input type="submit" class="btnForm" name="confirmer" value="@Resources.Shared.confirmer" /> &nbsp; <input type="submit" class="btnForm" name="annuler" value="@Resources.Shared.annuler" />
        </div>
    }
}
