@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;
@model projet_mozambique.Models.AjoutUtilSecteurModel
@{  
    ViewBag.Title = @Resources.Admin.lstUtils;
    <h2>@ViewBag.Title</h2>
    
    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");

    List<UTILISATEUR> lst = (ViewData[Constantes.CLE_LISTE_UTILISATEURS] as List<UTILISATEUR>);
    //List<UTILISATEUR> all = ViewData[Constantes.CLE_LISTE_UTILISATEURS_ALL] as List<UTILISATEUR>;
    string nom = ViewData[Constantes.CLE_NOMSECTEUR] as string;
    //int? idSect = ViewData[Constantes.CLE_IDSECTEUR] as int?;
    
    /*if(all.Count > 0)
    {
        using (Html.BeginForm("UtilisateursSecteur", "Admin", FormMethod.Post)) {
            <select id="selectEcole" name="idEcole">
                @foreach (var u in all)
                {
                    <option value="@u.ID">@u.NOM, @u.PRENOM (@u.NOMUTIL)</option>
                }
                @Html.EditorFor(
              
            </select>
            <input name="idSecteur" type="hidden" value="@idSect" />
            <input type="submit" value="@Resources.Shared.ajouter" name="ajoutUtil" class="btnForm" />
        }
    }*/

    using (Html.BeginForm("UtilisateursSecteur", "Admin", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.idSecteur)    
        <ul>
                <li>
                    @Html.LabelFor(m => m.idUtil)
                    @Html.DropDownListFor(m => m.idUtil, new SelectList(Model.Utilisateurs, "Value", "Text"), new { @class = "lst-options-nouvelles" })
                    @Html.ValidationMessageFor(m => m.idUtil)
                </li>
                <li>
                    @Html.LabelFor(m => m.debutAcces)
                    @Html.EditorFor(m => m.debutAcces)
                    @Html.ValidationMessageFor(m => m.debutAcces)
                </li>
                <li>
                    @Html.LabelFor(m => m.finAcces)
                    @Html.EditorFor(m => m.finAcces)
                    @Html.ValidationMessageFor(m => m.finAcces)
                </li>
            </ul>
            <input type="submit" value="@Resources.Shared.ajouter" name="ajoutUtil" class="btnForm" />
        }
    
    if(lst != null)
    {
        if(lst.Count > 0)
        {
            <h3>Secteur : @nom </h3>
            <ul>
                @foreach(var u in lst)
                {
                   <li>@u.PRENOM @u.NOM (@u.NOMUTIL) <a href="SupprimerUtilSecteur?idUtil=@u.ID&idSecteur=@Model.idSecteur" style="display:inline;"><img src="~/Content/images/icones/icon-trashcan.png" title="@Resources.Sectoriel.supprimer" alt="Icône Supprimer" /></a></li> 
                }
            </ul> 
        }
        else
        {
            <p>@Resources.Messages.SectNoUser</p>
        }
    }

    @Html.ActionLink("GoBack", "GestionSecteurs")
}
