@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;
@model projet_mozambique.Models.AjoutUtilSecteurModel
@{  
    ViewBag.Title = @Resources.Admin.lstUtils;

    string nom = ViewData[Constantes.CLE_NOMSECTEUR] as string;
    <h2>@ViewBag.Title - @nom</h2>
    
    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");

    List<UTILISATEUR> lst = (ViewData[Constantes.CLE_LISTE_UTILISATEURS] as List<UTILISATEUR>);
    
    using (Html.BeginForm("UtilisateursSecteur", "Admin", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.idSecteur)    
        <ul>
                <li>
                    @Html.LabelFor(m => m.idUtil)
                    @Html.DropDownListFor(m => m.idUtil, new SelectList(Model.Utilisateurs, "Value", "Text"), new { @class = "lst-options-nouvelles" })
                    @Html.ValidationMessageFor(m => m.idUtil)
                </li>
                <li>
                    @Html.LabelFor(m => m.debutAcces)
                    @Html.EditorFor(m => m.debutAcces)
                    @Html.ValidationMessageFor(m => m.debutAcces)
                </li>
                <li>
                    @Html.LabelFor(m => m.finAcces)
                    @Html.EditorFor(m => m.finAcces)
                    @Html.ValidationMessageFor(m => m.finAcces)
                </li>
            </ul>
            <input type="submit" value="@Resources.Shared.ajouter" name="ajoutUtil" class="btnForm" />
        }
    
    if(lst != null)
    {
        if(lst.Count > 0)
        {
            <ul>
                @foreach(var u in lst)
                {
                    var utilSect = u.UTILISATEURSECTEUR.FirstOrDefault(us => us.IDSECTEUR == Model.idSecteur);
                    <li>
                       @u.PRENOM @u.NOM (@u.NOMUTIL) <strong>@utilSect.DEBUTACCES.ToShortDateString() - @utilSect.FINACCES.ToShortDateString()</strong>
                       <a href="SupprimerUtilSecteur?idUtil=@u.ID&idSecteur=@Model.idSecteur" style="display:inline;"><img src="~/Content/images/icones/icon-trashcan.png" title="@Resources.Sectoriel.supprimer" alt="@Resources.Sectoriel.supprimer" /></a>

                    </li> 
                }
            </ul> 
        }
        else
        {
            <p>@Resources.Messages.SectNoUser</p>
        }
    }
}
