<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@projet_mozambique.Utilitaires.Constantes.TITLE_COMMUN @ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @Styles.Render("~/Content/cssSectoriel")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="all">
        <header>
            <div class="connexion">
                <div class="user_name">
                    <p>@Session["currentUserName"].ToString()</p>
                    <div class="icons">
                        @Html.ActionLink(" ", "Messagerie", new { controller = "Sectoriel" }, new { @class = "msg-img" })
                        @Html.ActionLink(" ", "Profil", new { controller = "Sectoriel" }, new { @class = "profil-img" })
                    </div>
                 </div>
                @Html.ActionLink("Se déconnecter", "Index", new { logout = 1, controller = "public" }, new { @class = "logout" })
            </div>
            <div class="titre-header">
                @Html.ActionLink("Mozambique", "Index", new { controller = "Sectoriel" }, new {@class="main-titre"})<br />
                @Html.ActionLink("Portail Pédagogique", "Index", new { controller = "Sectoriel" }, new { @class = "sous-titre" })
                <p class="langue" style="cursor:pointer;">Français</p>
            </div>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Accueil", "Index", "Sectoriel")</li>
                    <!-- La gestion du contenu de la section publique devrait se faire dans l'administration ou ici -->
                    <li>@Html.ActionLink("Calendrier", "Calendrier", "Sectoriel")</li>
                    <li>@Html.ActionLink("Documents", "Documents", "Sectoriel")</li>
                    <li>@Html.ActionLink("Forum", "Forum", "Sectoriel")</li>
                    <li>@Html.ActionLink("Sondages", "Sondages", "Sectoriel")</li>
                </ul>
            </nav>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer></footer>
     <script type="text/javascript">
         $(document).ready(function () {
             $(".langue").click(function () {
                 var langue = $(".langue").html();

                 if (langue == "Français") {
                     $(".langue").html("Portuguais");
                 }
                 else {
                     $(".langue").html("Français");
                 }

             });
         });
    </script>
</body>
</html>
