@using projet_mozambique.Models;
@using projet_mozambique.Utilitaires;
@{
    ViewBag.Title = "Quisque volutpat metus id purus pulvinar consectetur";

    FilModel f = (ViewData[Constantes.CLE_FILDISCUSSION] as FilModel);
    //TODO : INCORPORER RESSOURCES
    
    <h1>@f.sujet</h1>

    <div>
        <a href="RepondreFilDiscu"><img src="~/Content/images/icones/icon-reply-forum.png" title="Répondre" alt="Icône répondre" class="icone"/></a>
    </div>

    foreach (var m in f.listeMessages)
    {
        <div class="forum-message">
            <div class="date-auteur-message">
                <p>
                    Par @m.auteur, le @m.datePublication.ToLongDateString().Replace(DateTime.Now.DayOfWeek.ToString() + ", ", "")
                    @if (m.dateModification != DateTime.MinValue)
                    { 
                        <br />
                        <span class="infos-supp">Dernière modification le @m.dateModification.ToLongDateString().Replace(DateTime.Now.DayOfWeek.ToString() + ", ", "") </span>
                    }
                </p>
            </div>
            <div class="corps-message">
                <p>
                    @m.contenu
                </p>
            </div>
        </div>    
    }
}
