@using projet_mozambique.Models;
@using projet_mozambique.Utilitaires;
@{
    FilModel f = (ViewData[Constantes.CLE_FILDISCUSSION] as FilModel);
    
    ViewBag.Title = f.sujet;
    
    <h1>
        @f.sujet
        @if (User.IsInRole(Constantes.ROLE_ADMIN) || User.IsInRole(Constantes.ROLE_PROFMODERATEUR))
        {
            <a href="#" id="modif-sujet"><img src="~/Content/images/icones/icone-pen.png" title="@Resources.Shared.modifier" alt="Icône Modifier" /></a>
        }
    </h1>

    <div class="msg succes" id="msgSucces">
        @if (TempData[Constantes.CLE_MESSAGE] != null)
        {
            @TempData[Constantes.CLE_MESSAGE]
        }
    </div>
    
    <ul class="nav-pagination">
            @if (f.listeMessages.ShowFirstPage)
            {
                <li>@Html.ActionLink("<<", "FilDiscu", new { idFil = f.id, idPage = 0 })</li>
                <li>@Html.ActionLink("<", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex - 1 })</li>         
            }
            else if (f.listeMessages.HasPreviousPage)
            {
                <li>@Html.ActionLink("<", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex - 1 })</li>
            }
    
            @if (f.listeMessages.ShowLastPage)
            {
                <li>@Html.ActionLink(">", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex + 1 })</li>
                <li>@Html.ActionLink(">>", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.TotalPages - 1 })</li>            
            }
            else if (f.listeMessages.HasNextPage)
            {
                <li>@Html.ActionLink(">", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex + 1 })</li>
            }
        </ul>

    <div>
        <a href="RepondreFilDiscu?idFil=@f.id"><img src="~/Content/images/icones/icon-reply-forum.png" title="@Resources.Sectoriel.repondre" alt="Icône Répondre" class="icone"/></a>
        @if (User.IsInRole(Constantes.ROLE_ADMIN) || User.IsInRole(Constantes.ROLE_PROFMODERATEUR))
        {
            <a href="SupprimerFil?idFil=@f.id"><img src="~/Content/images/icones/icon-delete-forum.png" title="@Resources.Sectoriel.supprimer" alt="Icône Supprimer" class="icone" /></a>
        }
    </div>

    foreach (var m in f.listeMessages)
    {
        <div class="forum-message">
            <div class="date-auteur-message">
                <p>
                    @Resources.Shared.par @m.auteur, @Resources.Shared.le @m.datePublication.ToLongDateString().Replace(DateTime.Now.DayOfWeek.ToString() + ", ", ""), @m.datePublication.ToShortTimeString()
                    @if (m.dateModification != DateTime.MinValue)
                    { 
                        <br />
                        <span class="infos-supp">@Resources.Shared.derniereModifLe @m.dateModification.ToLongDateString().Replace(DateTime.Now.DayOfWeek.ToString() + ", ", ""), @m.dateModification.ToShortTimeString() </span>
                    }
                </p>
            </div>
            <div class="corps-message">
                <p>
                    @Html.Raw(m.contenu)
                </p>
                @if (User.IsInRole(Constantes.ROLE_ADMIN) || User.IsInRole(Constantes.ROLE_PROFMODERATEUR))
                {
                    <div class="moderateur-fildiscu">
                        <a href="SupprimerMessageFil?idMsg=@m.idMessage&idFil=@f.id&idPage=@f.listeMessages.PageIndex"><img src="~/Content/images/icones/icon-delete-forum-petit.png" title="@Resources.Shared.supprimer" alt="Icône Supprimer message" /></a>
                        <a href="ModifierMsgFil?idMsg=@m.idMessage&idFil=@f.id&idPage=@f.listeMessages.PageIndex"><img src="~/Content/images/icones/icone-pen.png" title="@Resources.Shared.modifier" alt="Icône Modifier message" /></a>
                    </div>
                }
            </div>
        </div>    
    }
    
    <ul class="nav-pagination">
            @if (f.listeMessages.ShowFirstPage)
            {
                <li>@Html.ActionLink("<<", "FilDiscu", new { idFil = f.id, idPage = 0 })</li>
                <li>@Html.ActionLink("<", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex - 1 })</li>         
            }
            else if (f.listeMessages.HasPreviousPage)
            {
                <li>@Html.ActionLink("<", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex - 1 })</li>
            }
    
            @if (f.listeMessages.ShowLastPage)
            {
                <li>@Html.ActionLink(">", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex + 1 })</li>
                <li>@Html.ActionLink(">>", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.TotalPages - 1 })</li>            
            }
            else if (f.listeMessages.HasNextPage)
            {
                <li>@Html.ActionLink(">", "FilDiscu", new { idFil = f.id, idPage = f.listeMessages.PageIndex + 1 })</li>
            }
        </ul>

    <script>
        $(document).ready(function () {
            $("#modif-sujet").click(function (e) {
                e.preventDefault();
                var h1 = $("h1").first();
                var sujet = h1.html().substr(0, h1.html().indexOf("<", 1)).trim();
                var modifier = '@Resources.Shared.modifier';
                h1.html('<input type=\x22text\x22 value=\x22' +
                    sujet + '\x22 class=\x22modif-sujet\x22 autofocus name=\x22sujet\x22 id=\x22sujet\x22 maxlength=\x22100\x22> <input type=\x22button\x22 value=\x22' +
                    modifier + '\x22 class=\x22btnForm\x22 id=\x22btnModif\x22>');

                var tb = $("#sujet");
                tb.on("change keyup paste", function (e) {
                    if (tb.val() == "" && $("#msg").length != 0) {
                        h1.before("<p class=\x22msg erreur\x22 style=\x22margin:0;\x22 id=\x22msg\x22>@Resources.Messages.sujetObligatoire</p>");
                        tb.addClass("input-validation-error");
                    }
                    else {
                        $("#msg").remove();
                        tb.removeClass("input-validation-error");
                    }
                        
                });
                $("#btnModif").click(function (e) {
                    var sujet = tb.val();
                    if (sujet == "") {
                        h1.before("<p class=\x22msg erreur\x22 style=\x22margin:0;\x22>@Resources.Messages.sujetObligatoire</p>");
                        tb.addClass("input-validation-error");
                    }
                    else {
                        var id = "@f.id";
                        var dataPost = { 'idFil': id, 'sujet': sujet };
                        $.ajax({
                            url: "@Url.Action("ModifTitreFil", "Sectoriel")",
                            type: 'POST',
                            data: dataPost,
                            success: function () {
                                h1.html(sujet +  " <a href=\x22#\x22 id=\x22modif-sujet\x22><img src=\x22../../Content/images/icones/icone-pen.png\x22 title=\x22@Resources.Shared.modifier\x22 alt=\x22Icône Modifier\x22 /></a>");
                                $("#msgSucces").first().html("@Resources.Messages.titreModifie");
                            }                            
                        });
                    }
                });
            });

                
        });
    </script>
}
