@using projet_mozambique.Models;
@using projet_mozambique.Utilitaires;
@{
    FilModel f = (ViewData[Constantes.CLE_FILDISCUSSION] as FilModel);
    
    ViewBag.Title = f.sujet;
    
    <h1>@f.sujet</h1>

    <div>
        <a href="RepondreFilDiscu"><img src="~/Content/images/icones/icon-reply-forum.png" title="@Resources.Sectoriel.repondre" alt="Icône répondre" class="icone"/></a>
    </div>

    foreach (var m in f.listeMessages)
    {
        <div class="forum-message">
            <div class="date-auteur-message">
                <p>
                    @Resources.Shared.par @m.auteur, @Resources.Shared.le @m.datePublication.ToLongDateString().Replace(DateTime.Now.DayOfWeek.ToString() + ", ", "")
                    @if (m.dateModification != DateTime.MinValue)
                    { 
                        <br />
                        <span class="infos-supp">@Resources.Shared.derniereModifLe @m.dateModification.ToLongDateString().Replace(DateTime.Now.DayOfWeek.ToString() + ", ", "") </span>
                    }
                </p>
            </div>
            <div class="corps-message">
                <p>
                    @m.contenu
                </p>
            </div>
        </div>    
    }
}
