@using projet_mozambique.Utilitaires
@using projet_mozambique.Models
@{
    ViewBag.Title = Resources.Sectoriel.forum;

    ListePaginee<FilModel> lesFil = (ViewData[Constantes.CLE_FILSFORUM] as ListePaginee<FilModel>);
    GetForum_Result f = (ViewData[Constantes.CLE_FORUM] as GetForum_Result);

    if (f != null)
    {
    <h1>@f.TITRE</h1>
    
    if (TempData[Constantes.CLE_MESSAGE] != null)
    {
        <div class="msg succes">@TempData[Constantes.CLE_MESSAGE]</div>
    }

    <div class="forum">
    
        <a href="NouveauFil"><img src="~/Content/images/icones/icon-add-black.png" title="@Resources.Sectoriel.nouveau" alt="@Resources.Sectoriel.nouveau" class="icone" /></a>
    
        <ul class="nav-pagination">
            @if (lesFil.ShowFirstPage)
            {
                <li>@Html.ActionLink("<<", "Forum", new { page = 0 })</li>
                <li>@Html.ActionLink("<", "Forum", new { page = lesFil.PageIndex - 1 })</li>         
            }
            else if (lesFil.HasPreviousPage)
            {
                <li>@Html.ActionLink("<", "Forum", new { page = lesFil.PageIndex - 1 })</li>
            }
    
            @if (lesFil.ShowLastPage)
            {
                <li>@Html.ActionLink(">", "Forum", new { page = lesFil.PageIndex + 1 })</li>
                <li>@Html.ActionLink(">>", "Forum", new { page = lesFil.TotalPages - 1 })</li>            
            }
            else if (lesFil.HasNextPage)
            {
                <li>@Html.ActionLink(">", "Forum", new { page = lesFil.PageIndex + 1 })</li>
            }
        </ul>

        <table>
            <thead>
                @if (User.IsInRole(Constantes.ROLE_ADMIN) || User.IsInRole(Constantes.ROLE_PROFMODERATEUR))
                {
                    <tr>
                        <th class="col-petite-ad">@Resources.Sectoriel.supprimer</th>
                        <th class="col-fildiscu-ad">@Resources.Sectoriel.filDiscussion</th>
                        <th class="col-petite-ad">@Resources.Sectoriel.nbMessage</th>
                        <th class="col-petite-ad">@Resources.Sectoriel.nbLectures</th>
                        <th class="col-derniermsg-ad">@Resources.Sectoriel.dernierMessage</th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th class="col-fildiscu">@Resources.Sectoriel.filDiscussion</th>
                        <th class="col-nb">@Resources.Sectoriel.nbMessage</th>
                        <th class="col-nb">@Resources.Sectoriel.nbLectures</th>
                        <th class="col-derniermsg">@Resources.Sectoriel.dernierMessage</th>
                    </tr>
                }
                
            </thead>
            <tbody>
                @for (int i = 0; i < lesFil.Count; i++)
                {
                    <tr>
                        @if (User.IsInRole(Constantes.ROLE_ADMIN) || User.IsInRole(Constantes.ROLE_PROFMODERATEUR))
                        {
                            <td><a href="SupprimerFil?idFil=@lesFil[i].id&noPage=@lesFil.PageIndex">@Resources.Sectoriel.supprimer</a></td>
                        }
                        <td class="col-fildiscu"><a href="FilDiscu?idFil=@lesFil[i].id">@lesFil[i].sujet</a></td>
                        <td>@lesFil[i].nbMessages</td>
                        <td>@lesFil[i].nbLectures</td>
                        <td>@Resources.Shared.par @lesFil[i].dernierParticipant,<br />
                            @Dates.JourMoisAnnee(lesFil[i].dateDerniereReponse, Session)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (lesFil.ShowPagination)
        {
            <div class="nav-bas">
                <ul class="nav-pagination">
                    @if (lesFil.ShowFirstPage)
                    {
                        <li>@Html.ActionLink("<<", "Forum", new { page = 0 })</li>
                        <li>@Html.ActionLink("<", "Forum", new { page = lesFil.PageIndex - 1 })</li>         
                    }
                    else if (lesFil.HasPreviousPage)
                    {
                        <li>@Html.ActionLink("<", "Forum", new { page = lesFil.PageIndex - 1 })</li>
                    }
    
                    @if (lesFil.ShowLastPage)
                    {
                        <li>@Html.ActionLink(">", "Forum", new { page = lesFil.PageIndex + 1 })</li>
                        <li>@Html.ActionLink(">>", "Forum", new { page = lesFil.TotalPages - 1 })</li>            
                    }
                    else if (lesFil.HasNextPage)
                    {
                        <li>@Html.ActionLink(">", "Forum", new { page = lesFil.PageIndex + 1 })</li>
                    }
                </ul>
            </div>
        }
    </div>
    }
    else
    {
        <p>@Resources.Messages.UserAccessDenied</p>
    }
    
}