<div class="connexion">
                <div class="user_name">
                    <p>@Session["currentUserName"].ToString()</p>
                    <div class="icons">
                        @Html.ActionLink(" ", "Messagerie", new { controller = "Sectoriel" }, new { @class = "msg-img" })
                        @Html.ActionLink(" ", "Profil", new { controller = "Sectoriel" }, new { @class = "profil-img" })
                    </div>
                 </div>
                @Html.ActionLink("Se déconnecter", "Index", new { logout = 1, controller = "public" }, new { @class = "logout" })
            </div>
            <div class="titre-header">
                @Html.ActionLink("Mozambique", "Index", new { controller = "Sectoriel" }, new {@class="main-titre"})<br />
                @Html.ActionLink("Portail Pédagogique", "Index", new { controller = "Sectoriel" }, new { @class = "sous-titre" })
                <p class="langue" style="cursor:pointer;">Français</p>
            </div>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Accueil", "Index", "Sectoriel")</li>
                    <!-- La gestion du contenu de la section publique devrait se faire dans l'administration ou ici -->
                    <li>@Html.ActionLink("Calendrier", "Calendrier", "Sectoriel")</li>
                    <li>@Html.ActionLink("Documents", "Documents", "Sectoriel")</li>
                    <li>@Html.ActionLink("Forum", "Forum", "Sectoriel")</li>
                    <li>@Html.ActionLink("Sondages", "Sondages", "Sectoriel")</li>
                </ul>
            </nav>