@model projet_mozambique.Models.SECTEUR
@using projet_mozambique.Models
@{
    ViewBag.Title = Resources.Shared.accueil;
}

@if (Model != null)
{
    if(Session["Culture"].ToString().Equals("fr")) 
    {
        <h1>@Model.TITREACCUEIL - @Resources.Shared.secteur @Model.NOM</h1>
        <img class="img-accueil" src="~/Content/images/photos/@Model.URLIMAGEACCUEIL" alt="Photo" />
        <p>@Model.TEXTEACCUEIL</p>
    }
    else
    {   
        <h1>@Model.TITREACCUEILTRAD - @Resources.Shared.secteur @Model.NOMTRAD</h1>
        <img class="img-accueil" src="~/Content/images/photos/@Model.URLIMAGEACCUEIL" alt="Photo" />
        <p>@Model.TEXTEACCUEILTRAD</p>
    }
}    
else
{
    <p>@Resources.Messages.UserAccessDenied</p>
}


       





