@using projet_mozambique.Utilitaires
@using projet_mozambique.Models
@{
    MessageMessagerie mess = (ViewData[Constantes.CLE_MESSAGE] as MessageMessagerie);
    
    <h3>@mess.sujet <span class="date-envoi">(@mess.dateEnvoi.ToString("yyyy/MM/dd hh:MM"))</span></h3>
    
    <p><span class="label-message">@Resources.DisplayName.de : </span> @mess.nomExped (@mess.usernameExped)</p>    
    
    <p><span class="label-message">@Resources.Shared.envoyeA :</span>
        @for (int i = 0; i < mess.lstDestinataires.Count; i++)
        {
            @mess.lstDestinataires[i];

            if(i != mess.lstDestinataires.Count -1)
            {
                @:,
            }
        }
        
    </p>
    
    <p><span class="label-message">@Resources.DisplayName.PiecesJointes : </span>
        @foreach (var pj in mess.lstPiecesJointes)
        {
            int taille = int.Parse(pj.TAILLEPIECE) / 1024;
            <a href="/Sectoriel/Download?id=@pj.ID">@pj.NOMPIECE (@taille ko)</a>
        }
    </p>
    
    <p>@Html.Raw(mess.message)</p>
    
    
    <script>
        $(function () {
            if ('@mess' != '@WebSecurity.GetUserId(User.Identity.Name)')
            {
                
            }
        })
    </script>
    

}