@using projet_mozambique.Models;
@using projet_mozambique.Utilitaires
@{
    ViewBag.Title = Resources.Sectoriel.messagerie;
}

<h1>@Resources.Sectoriel.messagerie</h1>

@if(TempData[Constantes.CLE_MESSAGE] != null || Session[Constantes.CLE_MESSAGE] != null)
{
    if (TempData[Constantes.CLE_MESSAGE] != null)
    {
        <div class="msg succes">@TempData[Constantes.CLE_MESSAGE].ToString()</div>
    }
    else if (Session[Constantes.CLE_MESSAGE] != null)
    {
        <div class="msg succes">@Session[Constantes.CLE_MESSAGE].ToString()</div>
        Session[Constantes.CLE_MESSAGE] = null;
    }
    
}

<nav class="menu-messagerie">
    <ul>
        <li class="active" id="recep">@Ajax.ActionLink(Resources.Sectoriel.boiteReception, "Messagerie", "Sectoriel", new { @location = 1  }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "messages", OnComplete = "naviguerMessagerie('recep')" }, null)</li>
        <li id="env">@Ajax.ActionLink(Resources.Sectoriel.messagesEnvoyes, "Messagerie", "Sectoriel", new { @location = 2 }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "messages", OnComplete = "naviguerMessagerie('env')" })</li>
        <li id="corb">@Ajax.ActionLink(Resources.Sectoriel.corbeille, "Corbeille", "Sectoriel", new { @location = 3  }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "messages", OnComplete = "naviguerMessagerie('corb')" })</li>
    </ul>
</nav>

<div class="messagerie">
    <div id="reception" class="mess-reception">
        <div class="actions-boite-reception">
            <ul>
                <li id="nouveau-message">@Html.ActionLink(Resources.Sectoriel.nouveau, "NouveauMessage", "Sectoriel")</li>
                <li id="supprimer-message">@Resources.Sectoriel.supprimer</li>
            </ul>
        </div>
        <div id="messages">
            @{Html.RenderPartial("~/Views/Sectoriel/ListeMessages.cshtml");}
        </div>
    </div>
    <div id="lecture" class="mess-lecture">
        <div class="actions-messagerie">
            <div class="icones-actions">  
                <a href="DeplacerInbox" id="deplacer-icone"><img src="~/Content/images/icones/icon_inbox.png" title="@Resources.Sectoriel.moveInbox" alt="@Resources.Sectoriel.moveInbox" /></a>      
                <a href="RepondreMessage" id="repondre-icone"><img src="~/Content/images/icones/icon-reply.png" title="@Resources.Sectoriel.repondre" alt="@Resources.Sectoriel.repondre" /></a>
                <a href="SupprimerMessage" id="supprimer-icone"><img src="~/Content/images/icones/icon-trashcan.png" title="@Resources.Sectoriel.supprimer" alt="@Resources.Sectoriel.supprimer" /></a>            </div>
        </div>
        <div id="contenu-message">

        </div>
    </div>
</div>


<script>
    function naviguerMessagerie(clic) {
        $(".msg").text("");

        $(".active").removeClass("active");

        switch (clic)
        {
            case "recep":
                $("#recep").addClass("active");
                $("#nouveau-message").show();
                $("#repondre-icone").show();
                $("#deplacer-icone").hide();
                break;
            case "env":
                $("#repondre-icone").hide();
                $("#env").addClass("active");
                $("#nouveau-message").hide();
                $("#deplacer-icone").hide();
                break;
            case "corb":
                $("#corb").addClass("active");
                $("#nouveau-message").hide();
                $("#deplacer-icone").show();
                $("#repondre-icone").show();
                break;                
        }

    }
</script>

