@model projet_mozambique.Models.ProfileModel
@{
    ViewBag.Title = "Modifier vos informations personnelles";
}

<h1>@ViewBag.Title</h1>
<p class="msgOk">
    @if (!string.IsNullOrWhiteSpace(ViewBag.Success))
    {
        @ViewBag.Success
    }
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ul>
        <li>
            @Html.LabelFor(m => m.courriel)
            @Html.TextBoxFor(m => m.courriel)
            @Html.ValidationMessageFor(m => m.courriel)
        </li>
        <li>
            @Html.LabelFor(m => m.prenom)
            @Html.TextBoxFor(m => m.prenom)
            @Html.ValidationMessageFor(m => m.prenom)
        </li>
        <li>
            @Html.LabelFor(m => m.nom)
            @Html.TextBoxFor(m => m.nom)
            @Html.ValidationMessageFor(m => m.nom)
        </li>
        <li>
            @Html.LabelFor(m => m.adresse)
            @Html.TextBoxFor(m => m.adresse)
            @Html.ValidationMessageFor(m => m.adresse)
        </li>
        <li>
            @Html.LabelFor(m => m.ville)
            @Html.TextBoxFor(m => m.ville)
            @Html.ValidationMessageFor(m => m.ville)
        </li>
    </ul>
    <input type="submit" value="Modifier" class="btnForm" />
}
