@model projet_mozambique.Models.MessageForumModel
@{
    ViewBag.Title = Resources.Sectoriel.nouveauFil;
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("NouveauFil", "Sectoriel", FormMethod.Post, new { @class = "formulaire nouveau-message" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.LabelFor(model => model.sujet)
    
    <div class="editor-field">
        @Html.TextBoxFor(m => m.sujet, new { @maxlength = "100", @placeholder = @Resources.Sectoriel.sujetPlaceholder, @autofocus = "true" })
        @Html.ValidationMessageFor(model => model.sujet)
    </div>

    <div class="editor-field">
        @Html.TextAreaFor(m => m.contenu, new { @placeholder = @Resources.Sectoriel.contenuPlaceholder })
        @Html.ValidationMessageFor(model => model.contenu)
    </div>

    <p>
        <input type="submit" value="@Resources.Shared.ajouter" class="btnForm" />
    </p>
}









