@{
    ViewBag.Title = @Resources.Shared.profil;
}

<h1>@ViewBag.Title : @User.Identity.Name</h1>

@Html.Partial("~/Views/Shared/AfficherMsg.cshtml")

<ul class="liste-fleche">
    <li>
        @Html.ActionLink(@Resources.Sectoriel.ModifierInfos, "ModifierInfos")
    </li>
    <li>
        @Html.ActionLink(@Resources.Sectoriel.ModifierMDP, "ModifierMDP")
    </li>
</ul>


