@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;

@{
    ViewBag.Title = "Publications (Droit de publication)";

    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
    
    var listeSecteurs = ViewData[Constantes.CLE_SECTEURS] as List<GetSecteurs_Result>;
    var listeSujetsPub = ViewData[Constantes.CLE_SUJETSPUBLICATION] as List<GetSujetsPublication_Result>;
    var listePub = ViewData[Constantes.CLE_PUBLICATIONS] as List<PUBLICATION>;
    int secteur = (int)ViewData[Constantes.CLE_IDSECTEUR];
    int categorie = (int)ViewData[Constantes.CLE_IDCATEGORIE];
    
    <h1>
        @if(User.IsInRole("etudiant") == false)
        {
            <a href="/Sectoriel/AjoutPublication" class="ajouter"><img src="~/Content/images/icones/icon-add-black.png" title="@Resources.Publication.ajouterPublication" alt="@Resources.Shared.ajouter" class="icone" /></a>
        }
        @Resources.Shared.publications
    </h1>
    
    <div class="recherche-doc">

        <form method="get">
            <input type="hidden" name="secteur" value="@secteur" />
            <label for="mot-cle">@Resources.Publication.rechercheMotCle : </label>
            <input id="mot-cle" name="motscles" placeholder="@Resources.Publication.motClesPlaceholder" type="text" value="@Request.QueryString["motscles"]"/><br />
            <label for="categorie">@Resources.Publication.rechercheCategorie : </label>
            <select name="categorie" id="categorie" class="lst-options-nouvelles">
                <option value="">&lt;@Resources.Publication.tous&gt;</option>
                @foreach (GetSujetsPublication_Result sujetPub in listeSujetsPub)
                {
                    <option value="@sujetPub.ID" @if (categorie == sujetPub.ID) { <text> selected="selected" </text> }>@sujetPub.NOM</option>
                }
            </select>

            <div>
                <input type="submit" value="@Resources.Shared.rechercher" class="btnForm" />
            </div>
        </form>

    </div>

    <hr class="line-separator" />

    if (listePub.Count > 0)
    {
        foreach (GetSujetsPublication_Result sujetPub in listeSujetsPub)
        {
            List<PUBLICATION> listePubSujet = listePub.Where(p => p.IDSUJET == sujetPub.ID).ToList();

            if (listePubSujet.Count > 0)
            {
                <div id="cat-@sujetPub.ID" class="categorie">
                    <h2>@sujetPub.NOM (@(listePubSujet.Count) @(listePubSujet.Count > 1 ? Resources.Shared.resultats : Resources.Shared.resultat))</h2>
                    <div>
                        <ul>
                            @foreach (PUBLICATION publi in listePubSujet)
                            {
                                string typeFichier = Fichiers.GetFichierIcone(@publi.NOMFICHIERORIGINAL, @publi.MIMETYPE);
                                
                                <li>
                                    <a href="ObtenirPublication?id=@publi.ID">
                                        <img src="~/Content/images/icones/icone-@(typeFichier).png" alt="Fichier @typeFichier" />@publi.TITRE
                                        <span class="date-document">(ajouté le @Dates.JourMoisAnnee(publi.DATECREATION, Session)</span>
                                    </a>
                                    @if (User.IsInRole("etudiant") == false)
                                    {
                                        <a href="/Sectoriel/SupprimerPublication/@publi.ID"><img src="~/Content/images/icones/icon-trashcan.png" title="@Resources.Publication.supprimerPublication" alt="@Resources.Shared.supprimer" class="icone" /></a>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div>@Resources.Publication.aucunResultat</div>
    }
}

<script>
    $(function () {
        $(".categorie").accordion({
            heightStyle: "content",
            collapsible: true,
            active: false
        });
    });
</script>

