@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;

@{
    ViewBag.Title = "Publications (Droit de publication)";

    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
    
    var listeSecteurs = ViewData[Constantes.CLE_SECTEURS] as List<GetSecteurs_Result>;
    var listeSujetsPub = ViewData[Constantes.CLE_SUJETSPUBLICATION] as List<GetSujetsPublication_Result>;
    var listePub = ViewData[Constantes.CLE_PUBLICATIONS] as List<PUBLICATION>;
    int secteur = (int)ViewData[Constantes.CLE_IDSECTEUR];
    
    <h1>@if(User.IsInRole("etudiant") == false) { <a href="/Sectoriel/AjoutPublication"><img src="~/Content/images/icones/icon-add-black.png" title="@Resources.Publication.ajouterPublication" alt="+" class="icone" /></a>} @Resources.Shared.publications</h1>
    
    <div class="nav-tab">
        <ul>
            @for (int i = 0; i < listeSecteurs.Count; i++)
            {
                <li>
                    <a @if (listeSecteurs.Count() > 1) { <text> href="?secteur=@listeSecteurs[i].ID" </text> }
                       @if (secteur == listeSecteurs[i].ID) { <text> class="tab-active" </text> }>@listeSecteurs[i].NOM</a>
                </li>
            }
        </ul>
    </div>
    
    <div class="recherche-doc">

        <form method="get">
            <input type="hidden" name="secteur" value="@secteur" />
            <label for="mot-cle">@Resources.Publication.rechercheMotCle : </label>
            <input id="mot-cle" name="motscles" placeholder="mot clé(s)" type="text" value="@Request.QueryString["motscles"]"/><br />
            <label for="categorie">@Resources.Publication.rechercheCategorie : </label>
            <select name="categorie" id="categorie" class="lst-options-nouvelles">
                <option value="">&lt;Toutes&gt;</option>
                @foreach (GetSujetsPublication_Result sujetPub in listeSujetsPub)
                {
                    <option value="@sujetPub.ID" @if (Convert.ToInt32(Request.QueryString["categorie"]) == sujetPub.ID) { <text> selected="selected" </text> }>@sujetPub.NOM</option>
                }
            </select>

            <input type="submit" value="Rechercher" class="btnForm" />
        </form>

    </div>

    <div class="line-separator"></div>

    if (listePub.Count > 0)
    {
        foreach (GetSujetsPublication_Result sujetPub in listeSujetsPub)
        {
            List<PUBLICATION> listePubSujet = listePub.Where(p => p.IDSUJET == sujetPub.ID).ToList();

            if (listePubSujet.Count > 0)
            {
                <div id="cat-@sujetPub.ID" class="categorie">
                    <h2>@sujetPub.NOM</h2>
                    <div>
                        <ul>
                            @foreach (PUBLICATION publi in listePubSujet)
                            {
                                string typeFichier = Fichiers.GetFichierIcone(@publi.NOMFICHIERORIGINAL, @publi.MIMETYPE);
                                
                                <li>
                                    <a href="ObtenirPublication?id=@publi.ID">
                                        <img src="~/Content/images/icones/icone-@(typeFichier).png" alt="Fichier @typeFichier" />@publi.TITRE
                                        <span class="date-document">(ajouté le @publi.DATECREATION.ToLongDateString().Replace(DateTime.Now.DayOfWeek.ToString() + ", ", ""))</span> @*Ceci donne le jour, le mois, et l'année formattés correctement pour la langue du système*@
                                    </a>
                                    @if (User.IsInRole("etudiant") == false)
                                    {
                                        <a href="/Sectoriel/SupprimerPublication/@publi.ID"><img src="~/Content/images/icones/icon-trashcan.png" title="Supprimer" alt="Icône supprimer document" class="icone" /></a>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div>@Resources.Publication.aucunResultat</div>
    }
}

<script>
    $(function () {
        $(".categorie").accordion({
            heightStyle: "content",
            collapsible: true,
            active: false
        });
    });
</script>

