@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;

@{
    ViewBag.Title = Resources.Sondages.resultatsSondages;

    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
    
    var listeSondages = ViewData[Constantes.CLE_SONDAGES] as List<SONDAGE>;
}

<h1>@Resources.Sondages.resultatsSondages</h1>

@if (listeSondages.Count == 0)
{
    <div>@Resources.Sondages.aucunResultat</div>
}
else
{
    foreach (var unSondage in listeSondages)
    {
        if (!String.IsNullOrEmpty(unSondage.QUESTION))
        {
            <hr class="line-separator" />
            <div id="sondage@(unSondage.ID)" class="sondage">
                <h2>
                    @unSondage.NOM
                    @if (User.IsInRole("etudiant") == false)
                    {
                        <a href="/Sectoriel/SupprimerSondage/@unSondage.ID"><img src="~/Content/images/icones/icon-trashcan.png" title="@Resources.Sondages.supprimerSondage" alt="@Resources.Shared.supprimer" class="icone" /></a>
                    }
                </h2>
                <h3>@unSondage.QUESTION</h3>

                <div class="choix-reponses">
                    <table>
                        @foreach (var unChoix in unSondage.CHOIXSONDAGES)
                        {
                            var tailleVotes = (unSondage.nbVotesTotal > 0 ? (unChoix.nbVotes / unSondage.nbVotesTotal) * 500 : 0);
                
                            <tr>
                                <td>
                                    @unChoix.VALEUR 
                                </td>
                                <td class="parent-barre-votes">
                                    <span class="barre-votes" style="width: @(tailleVotes)px"></span>
                                </td>
                                <td>
                                    @unChoix.nbVotes @(unChoix.nbVotes > 1 ? Resources.Sondages.votes : Resources.Sondages.vote)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    }
}