@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;

@{
    ViewBag.Title = Resources.Sondages.sondagesEnCours;

    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
    
    var listeSondages = ViewData[Constantes.CLE_SONDAGES] as List<SONDAGE>;
}

<h1>@Resources.Sondages.sondagesEnCours</h1>

@if (listeSondages.Count == 0)
{
    <div>@Resources.Sondages.aucunSondage</div>
}
else
{
    for (int i = 0; i < listeSondages.Count; i++)
    {
        if (!String.IsNullOrEmpty(listeSondages[i].QUESTION))
        {
            <hr/>
            <div id="sondage@(i)" class="sondage">
                <h2>@listeSondages[i].NOM</h2>
                <h3>@listeSondages[i].QUESTION</h3>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("idSondage", listeSondages[i].ID);
            
                    <div class="choix-reponses">
                        @foreach (var unChoix in listeSondages[i].CHOIXSONDAGES)
                        {
                            <p>
                                @Html.RadioButton("idChoix", unChoix.ID)
                                @Html.Label("idChoix", unChoix.VALEUR, new { @class = "radio" })
                            </p>
                        }
                    </div>
                    <input type="submit" class="btnForm" value="Voter"/>
                }
            </div>
        }
    }
}
