@using projet_mozambique.Utilitaires;
@using projet_mozambique.Models;

@{
    ViewBag.Title = Resources.Sondages.sondagesEnCours;

    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");
    
    var listeSondages = ViewData[Constantes.CLE_SONDAGES] as List<SONDAGE>;
}

<p>
    <a href="/Sectoriel/ResultatsSondages" class="btnForm">@Resources.Sondages.resultatsSondages</a>
</p>

<h1>
    @if(User.IsInRole("etudiant") == false)
    {
        <a href="/Sectoriel/AjoutSondage" class="ajouter"><img src="~/Content/images/icones/icon-add-black.png" title="@Resources.Sondages.ajouterSondage" alt="@Resources.Shared.ajouter" class="icone" /></a>
    }
    @Resources.Sondages.sondagesEnCours
</h1>

@if (listeSondages.Count == 0)
{
    <div>@Resources.Sondages.aucunSondage</div>
}
else
{
    foreach (var unSondage in listeSondages)
    {
        <hr class="line-separator" />
        <div id="sondage@(unSondage.ID)" class="sondage">
            <h2>@unSondage.NOM</h2>
            <h3>@unSondage.QUESTION</h3>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("idSondage", unSondage.ID);
            
                <div class="choix-reponses">
                    @foreach (var unChoix in unSondage.CHOIXSONDAGES)
                    {
                        <p>
                            @Html.RadioButton("idChoix", unChoix.ID)
                            @Html.Label("idChoix", unChoix.VALEUR, new { @class = "radio" })
                        </p>
                    }
                </div>
                <input type="submit" class="btnForm" value="Voter"/>
                <span class="date-fin">@Resources.Sondages.finLe @Dates.JourMoisAnnee(@unSondage.DATEFIN, Session)</span>
            }
        </div>
    }
}
