<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portail Mozambique - @ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/cssPublic")
    @Styles.Render("~/Content/cssSectoriel")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="all">
        <header>
            <div class="connexion">
                <p class="login">Se connecter</p>
                <div class="div-login">
                    <form id="frmConnexion">
                        <input type="text" placeholder="Nom de l'utilisateur" />
                        <input type="text" placeholder="Mot de passe" />
                        <input type="submit" value="Connexion" />
                    </form>
                    <a href="../admin">Connexion admin</a><br />
                    <a href="../sectoriel">Connexion utilisateur</a>
                </div>
            </div>
            <div class="titre-header">
                @Html.ActionLink("Mozambique", "Index", new { controller = "Public" }, new {@class="main-titre"})<br />
                @Html.ActionLink("Portail Pédagogique", "Index", new { controller = "Public" }, new { @class = "sous-titre" })
                <p class="langue">Français</p>
            </div>
            <nav>
                <ul>
                    <li>@Html.ActionLink(StringResources.StringResources.accueil, "Index")</li>
                    <li>@Html.ActionLink(StringResources.StringResources.nouvelles, "nouvelles")</li>
                    <li>@Html.ActionLink(StringResources.StringResources.partenaires, "partenaires")</li>
                    <li>@Html.ActionLink(StringResources.StringResources.apropos, "apropos")</li>
                    <li>@Html.ActionLink(StringResources.StringResources.nousjoindre, "nousjoindre")</li>
                </ul>
            </nav>
        
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".login").click(function (e) {
                e.preventDefault();
                $(".div-login").toggle();
                $(".login").toggle();
            });
            $(".langue").click(function(){
                var langue = $(".langue").html();

                if (langue == "Français") {
                    $(".langue").html("Portuguais");
                }
                else {
                    $(".langue").html("Français");
                }

            });
        });
    </script>
</body>
</html>
