@model projet_mozambique.Models.GetContenu_Result
@{
    ViewBag.Title = @Resources.Shared.nousjoindre;
}

 
@if(Session["Culture"].ToString().Equals("fr"))
{
    <h1>@Model.TITRE</h1>
    <p>@Model.CONTENU</p> 
}
else
{
    <h1>@Model.TITRE_TRAD</h1>
    <p>@Model.CONTENU_TRAD</p>
}
