@model projet_mozambique.Models.GetContenu_Result
@{
    ViewBag.Title = @Resources.Shared.nousjoindre;
}

 
@if(Session["Culture"].ToString().Equals("fr"))
{
    <h1>@Model.TITRE</h1>
    <p>@Model.CONTENU</p> 
}
else
{
    <h1>@Model.TITRE_TRAD</h1>
    <p>@Model.CONTENU_TRAD</p>
}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
window.onload = function () {

	initCarteGoogle()
}

initCarteGoogle = function()

{

	// Position initiale du centre de la carte. 

	var posCentre = new google.maps.LatLng(46.811661,-71.254621)

	// Object JSON pour les options d'affichage.

	var optionsCarte = {

		zoom: 12,

		center: posCentre,

		mapTypeId: google.maps.MapTypeId.ROADMAP,

		disableDoubleClickZoom : true,

		navigationControl : true,

		navigationControlOptions: {style: google.maps.NavigationControlStyle.DEFAULT},

		mapTypeControl: true,

		mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

		scaleControl: true

	}

	carte = new google.maps.Map(document.getElementById("divCarteGoogle"), optionsCarte)
}
</script>

<div id="divCarteGoogle"></div>
