@using projet_mozambique.Utilitaires
@using projet_mozambique.Models

@{
    ViewBag.Title = "Partenaires";

    Html.RenderPartial("~/Views/Shared/AfficherMsg.cshtml");

    var listePartenaires = ViewData[Constantes.CLE_PARTENAIRES] as List<PARTENAIRE>;

    foreach (var partenaire in listePartenaires)
    {
        <div class="article">
            <p class="titre">@partenaire.NOM</p>

            @if (!String.IsNullOrEmpty(partenaire.RAISONSOCIALE))
            {
                <p><span class="lbGras">@Names.DisplayName.Mission : </span>@partenaire.RAISONSOCIALE</p>
            }
            @if (!String.IsNullOrEmpty(partenaire.ADRESSE))
            {
                <p><span class="lbGras">@Names.DisplayName.Address : </span>@partenaire.ADRESSE</p>
            }
            @if (!String.IsNullOrEmpty(partenaire.TELEPHONE))
            {
                <p><span class="lbGras">@Names.DisplayName.Phone : </span>@partenaire.TELEPHONE</p>
            }
            @if (!String.IsNullOrEmpty(partenaire.SITEWEB))
            {
                <p><span class="lbGras">@Names.DisplayName.Website : </span><a href="@partenaire.SITEWEB">@partenaire.SITEWEB</a></p>
            }
            <p><span class="lbGras">@Names.DisplayName.Email : </span><a href="mailto:@partenaire.COURRIEL">@partenaire.COURRIEL</a></p>
        </div>
    }
}
